*.suo
*.sdf
*.opensdf
*.layout
*.depend
*.pro.user
*.txt.user
*.vs
*.spv
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.metadata
.settings
/*.db
/*.opendb
/ipch
/build
/cmake
/Debug
/Release
/api/xml
/bin
/external-deps
/api/html
/samples
Makefile
Makefile.Debug
Makefile.Release
gameplay/Debug
gameplay/Release
gameplay-app/Debug
gameplay-app/Release
gameplay-editor/Debug
gameplay-editor/Release
gameplay-editor/GeneratedFiles
gameplay-editor/x64
gameplay-editor/*.vcxproj*
gameplay-editor/.qmake.stash
