_*/
.lastrun
.lastformat
.lastverify
.DS_Store
.cache
.vscode/ipch
/.vs

*.py[cod]
*.swp
*.diff
*.patch

*.ico
*.bmp
*.png
*.gif
*.jpg
*.jpeg
*.tga
*.psd
*.raw
*.exr
*.hdr
*.dds
*.ktx
*.spv
*.dxbc
*.dxil
*.gltf
*.glb
*.fbx
*.usd
*.usda
*.usdz
*.obj
*.mat
*.suo
