*.suo
*.sdf
*.opensdf
*.layout
*.depend
*.pro.user
*.vs
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.metadata
.settings
/*.db
/*.opendb
/ipch
/build
/cmake
/Debug
/Release
/api/xml
/bin
/external-deps
/api/html
/samples
Makefile
Makefile.Debug
Makefile.Release


