window
{
    title = Lua
    width = 1280
    height = 720
    fullscreen = false
}

scripts
{
    initialize = res/game.lua#initialize
    update = res/game.lua#update
    render = res/game.lua#render
    finalize = res/game.lua#finalize
    keyEvent = res/game.lua#keyEvent
    touchEvent = res/game.lua#touchEvent
}