window
{
    title = Mesh
    width = 1280
    height = 720
    fullscreen = false
}

scripts
{
    INITIALIZE = res/script.lua#init
    UPDATE = res/script.lua#update
    RENDER = res/script.lua#render
    FINALIZE = res/script.lua#finalize
    KEY_EVENT = res/script.lua#keyEvent
    TOUCH_EVENT = res/script.lua#touchEvent
}