aliases
{
    backboard = res/design/backboard.png
    basketball = res/design/basketball.png
    basketballnet = res/design/basketballnet.png
    book = res/design/book.png
    bookshelf = res/design/bookshelf.png
    character = res/design/character.png
    decals = res/design/decals.png
    door = res/design/door.png
    doorframe = res/design/doorframe.png
    easel = res/design/easel.png
    floor = res/design/floor.png
    floortiles = res/design/floortiles.png
    gamepad = res/design/gamepad.png
    playtable = res/design/playtable.png
    shadow = res/design/shadow.png
    storageorganizer = res/design/storageorganizer.png
    tableleg1 = res/design/tableleg1.png
    tableleg2 = res/design/tableleg2.png
    tableleg3 = res/design/tableleg3.png
    tableleg4 = res/design/tableleg4.png
    tabletop = res/design/tabletop.png
    tiles = res/design/tiles.png
    tilesn = res/design/tilesn.png
    toybox = res/design/toybox.png
    walleast = res/design/walleast.png
    wallnorth = res/design/wallnorth.png
    walloverhang = res/design/walloverhang.png
    wallsouth = res/design/wallsouth.png
    wallwest = res/design/wallwest.png
    windowledge = res/design/windowledge.png
    wood = res/design/wood.png
    woodn = res/design/woodn.png
}

gamepads
{
    form = res/common/gamepad.form
}