window
{
    title = Character
    width = 1280
    height = 720
    fullscreen = false
    samples = 2
}

aliases
{
    backboard = res/dxt/backboard.dds
    basketball = res/dxt/basketball.dds
    basketballnet = res/dxt/basketballnet.dds
    book = res/dxt/book.dds
    bookshelf = res/dxt/bookshelf.dds
    character = res/dxt/character.dds
    decals = res/dxt/decals.dds
    door = res/dxt/door.dds
    doorframe = res/dxt/doorframe.dds
    easel = res/dxt/easel.dds
    floor = res/dxt/floor.dds
    floortiles = res/dxt/floortiles.dds
    gamepad = res/dxt/gamepad.dds
    playtable = res/dxt/playtable.dds
    shadow = res/dxt/shadow.dds
    storageorganizer = res/dxt/storageorganizer.dds
    tableleg1 = res/dxt/tableleg1.dds
    tableleg2 = res/dxt/tableleg2.dds
    tableleg3 = res/dxt/tableleg3.dds
    tableleg4 = res/dxt/tableleg4.dds
    tabletop = res/dxt/tabletop.dds
    tiles = res/dxt/tiles.dds
    tilesn = res/dxt/tilesn.dds
    toybox = res/dxt/toybox.dds
    walleast = res/dxt/walleast.dds
    wallnorth = res/dxt/wallnorth.dds
    walloverhang = res/dxt/walloverhang.dds
    wallsouth = res/dxt/wallsouth.dds
    wallwest = res/dxt/wallwest.dds
    windowledge = res/dxt/windowledge.dds
    wood = res/dxt/wood.dds
    woodn = res/dxt/woodn.dds
}

gamepads
{
    form = res/common/gamepad.form
}
