aliases
{
    backboard = res/pvrtc/backboard.pvr
    basketball = res/pvrtc/basketball.pvr
    basketballnet = res/pvrtc/basketballnet.pvr
    book = res/pvrtc/book.pvr
    bookshelf = res/pvrtc/bookshelf.pvr
    character = res/pvrtc/character.pvr
    decals = res/pvrtc/decals.pvr
    door = res/pvrtc/door.pvr
    doorframe = res/pvrtc/doorframe.pvr
    easel = res/pvrtc/easel.pvr
    floor = res/pvrtc/floor.pvr
    floortiles = res/pvrtc/floortiles.pvr
    gamepad = res/pvrtc/gamepad.pvr
    playtable = res/pvrtc/playtable.pvr
    shadow = res/pvrtc/shadow.pvr
    storageorganizer = res/pvrtc/storageorganizer.pvr
    tableleg1 = res/pvrtc/tableleg1.pvr
    tableleg2 = res/pvrtc/tableleg2.pvr
    tableleg3 = res/pvrtc/tableleg3.pvr
    tableleg4 = res/pvrtc/tableleg4.pvr
    tabletop = res/pvrtc/tabletop.pvr
    tiles = res/pvrtc/tiles.pvr
    tilesn = res/pvrtc/tilesn.pvr
    toybox = res/pvrtc/toybox.pvr
    walleast = res/pvrtc/walleast.pvr
    wallnorth = res/pvrtc/wallnorth.pvr
    walloverhang = res/pvrtc/walloverhang.pvr
    wallsouth = res/pvrtc/wallsouth.pvr
    wallwest = res/pvrtc/wallwest.pvr
    windowledge = res/pvrtc/windowledge.pvr
    wood = res/pvrtc/wood.pvr
    woodn = res/pvrtc/woodn.pvr
}

gamepads
{
    form = res/common/gamepad.form
}