scripts
{
    initialize = res/common/game.lua#initialize
    update = res/common/game.lua#update
    render = res/common/game.lua#render
    finalize = res/common/game.lua#finalize
    keyEvent = res/common/game.lua#keyEvent
    touchEvent = res/common/game.lua#touchEvent
}

aliases 
{ 
    car = res/pvrtc/car.png 
    chain_fence_1 = res/pvrtc/chain_fence_1.pvr 
    design_11 = res/pvrtc/design_11.pvr 
    d_tree = res/pvrtc/d_tree.png 
    gamepad = res/pvrtc/gamepad.png 
    grassbunch_1 = res/pvrtc/grassbunch_1.pvr 
    grassbunch_2 = res/pvrtc/grassbunch_2.pvr 
    gravel_2 = res/pvrtc/gravel_2.png 
    panel_1 = res/pvrtc/panel_1.pvr 
    panel_10 = res/pvrtc/panel_10.pvr 
    panel_11 = res/pvrtc/panel_11.pvr 
    panel_12 = res/pvrtc/panel_12.pvr 
    panel_13 = res/pvrtc/panel_13.pvr 
    panel_14 = res/pvrtc/panel_14.pvr 
    panel_15 = res/pvrtc/panel_15.pvr 
    panel_16 = res/pvrtc/panel_16.pvr 
    panel_2 = res/pvrtc/panel_2.pvr 
    panel_3 = res/pvrtc/panel_3.pvr 
    panel_4 = res/pvrtc/panel_4.pvr 
    panel_5 = res/pvrtc/panel_5.pvr 
    panel_6 = res/pvrtc/panel_6.pvr 
    panel_7 = res/pvrtc/panel_7.pvr 
    panel_8 = res/pvrtc/panel_8.pvr 
    panel_9 = res/pvrtc/panel_9.pvr 
    panorama_2 = res/pvrtc/panorama_2.png 
    panorama_3 = res/pvrtc/panorama_3.png 
    rails = res/pvrtc/rails.png 
    shrub_1 = res/pvrtc/shrub_1.pvr 
    shrub_2 = res/pvrtc/shrub_2.pvr 
    shrub_3 = res/pvrtc/shrub_3.pvr 
    textures_8 = res/pvrtc/textures_8.pvr 
    track_1 = res/pvrtc/track_1.pvr 
    tree = res/pvrtc/tree.pvr 
    tree_2 = res/pvrtc/tree_2.pvr 
    tree_3 = res/pvrtc/tree_3.pvr 
    tree_4 = res/pvrtc/tree_4.pvr 
    tree_5 = res/pvrtc/tree_5.pvr 
    tree_6 = res/pvrtc/tree_6.pvr 
    tree_7 = res/pvrtc/tree_7.pvr 
    trunk_1 = res/pvrtc/trunk_1.pvr 
    trunk_2 = res/pvrtc/trunk_2.pvr 
}

gamepad
{
    form = res/common/gamepad.form
}
