scripts
{
    initialize = res/common/game.lua#initialize
    update = res/common/game.lua#update
    render = res/common/game.lua#render
    finalize = res/common/game.lua#finalize
    keyEvent = res/common/game.lua#keyEvent
    touchEvent = res/common/game.lua#touchEvent
}

aliases 
{ 
    car = res/atc/car.png 
    chain_fence_1 = res/atc/chain_fence_1.dds 
    design_11 = res/atc/design_11.dds 
    d_tree = res/atc/d_tree.dds 
    gamepad = res/atc/gamepad.dds 
    grassbunch_1 = res/atc/grassbunch_1.dds 
    grassbunch_2 = res/atc/grassbunch_2.dds 
    gravel_2 = res/atc/gravel_2.dds 
    panel_1 = res/atc/panel_1.dds 
    panel_10 = res/atc/panel_10.dds 
    panel_11 = res/atc/panel_11.dds 
    panel_12 = res/atc/panel_12.dds 
    panel_13 = res/atc/panel_13.dds 
    panel_14 = res/atc/panel_14.dds 
    panel_15 = res/atc/panel_15.dds 
    panel_16 = res/atc/panel_16.dds 
    panel_2 = res/atc/panel_2.dds 
    panel_3 = res/atc/panel_3.dds 
    panel_4 = res/atc/panel_4.dds 
    panel_5 = res/atc/panel_5.dds 
    panel_6 = res/atc/panel_6.dds 
    panel_7 = res/atc/panel_7.dds 
    panel_8 = res/atc/panel_8.dds 
    panel_9 = res/atc/panel_9.dds 
    panorama_2 = res/atc/panorama_2.dds 
    panorama_3 = res/atc/panorama_3.dds 
    rails = res/atc/rails.dds 
    shrub_1 = res/atc/shrub_1.dds 
    shrub_2 = res/atc/shrub_2.dds 
    shrub_3 = res/atc/shrub_3.dds 
    textures_8 = res/atc/textures_8.dds 
    track_1 = res/atc/track_1.dds 
    tree = res/atc/tree.dds 
    tree_2 = res/atc/tree_2.dds 
    tree_3 = res/atc/tree_3.dds 
    tree_4 = res/atc/tree_4.dds 
    tree_5 = res/atc/tree_5.dds 
    tree_6 = res/atc/tree_6.dds 
    tree_7 = res/atc/tree_7.dds 
    trunk_1 = res/atc/trunk_1.dds 
    trunk_2 = res/atc/trunk_2.dds 
} 

gamepad
{
    form = res/common/gamepad.form
}
