window
{
    width = 1280
    height = 720
    fullscreen = false
    title = Racing Sample
}

scripts
{
    initialize = res/common/game.lua#initialize
    update = res/common/game.lua#update
    render = res/common/game.lua#render
    finalize = res/common/game.lua#finalize
    keyEvent = res/common/game.lua#keyEvent
    touchEvent = res/common/game.lua#touchEvent
}

aliases 
{ 
    car = res/png/car.png
    chain_fence_1 = res/png/chain_fence_1.png 
    design_11 = res/png/design_11.png 
    d_tree = res/png/d_tree.png 
    gamepad = res/png/gamepad.png 
    grassbunch_1 = res/png/grassbunch_1.png 
    grassbunch_2 = res/png/grassbunch_2.png 
    gravel_2 = res/png/gravel_2.png 
    panel_1 = res/png/panel_1.png 
    panel_10 = res/png/panel_10.png 
    panel_11 = res/png/panel_11.png 
    panel_12 = res/png/panel_12.png 
    panel_13 = res/png/panel_13.png 
    panel_14 = res/png/panel_14.png 
    panel_15 = res/png/panel_15.png 
    panel_16 = res/png/panel_16.png 
    panel_2 = res/png/panel_2.png 
    panel_3 = res/png/panel_3.png 
    panel_4 = res/png/panel_4.png 
    panel_5 = res/png/panel_5.png 
    panel_6 = res/png/panel_6.png 
    panel_7 = res/png/panel_7.png 
    panel_8 = res/png/panel_8.png 
    panel_9 = res/png/panel_9.png 
    panorama_2 = res/png/panorama_2.png 
    panorama_3 = res/png/panorama_3.png 
    rails = res/png/rails.png 
    shrub_1 = res/png/shrub_1.png 
    shrub_2 = res/png/shrub_2.png 
    shrub_3 = res/png/shrub_3.png 
    textures_8 = res/png/textures_8.png 
    track_1 = res/png/track_1.png 
    tree = res/png/tree.png 
    tree_2 = res/png/tree_2.png 
    tree_3 = res/png/tree_3.png 
    tree_4 = res/png/tree_4.png 
    tree_5 = res/png/tree_5.png 
    tree_6 = res/png/tree_6.png 
    tree_7 = res/png/tree_7.png 
    trunk_1 = res/png/trunk_1.png 
    trunk_2 = res/png/trunk_2.png 
} 

gamepad
{
    form = res/common/gamepad.form
}
