.header
{
background-color: #17191A;
padding: 8px;
width: 100%;
}
.button
{
height: 20px;
padding: 8px;
text-align: center;
background-color: #17191A;
color: #E8E8E8;
cursor : pointer;
border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
border: 2px solid #595959;
opacity: 0.8;
}

.button:hover
{
background-color: #2E6380;
border: 2px solid #A9A9A9;
}